* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Pixel";
  src: url("../fonts/Pixel.ttf");
}

[wm-flappy] {
  position: relative;
  border: 5px solid dodgerblue;
  height: 700px;
  width: 1200px;
  margin: 15px;
  background-color: deepskyblue;
  overflow: hidden;
}

.passaro {
  position: absolute;
  width: 60px;
  left: calc(50% - 30px);
}

.par-de-barreiras {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barreira {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.barreira .borda {
  height: 30px;
  width: 130px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border: 2px solid #000;
}

.barreira .corpo {
  height: 150px;
  width: 110px;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border-left: 2px solid #000;
  border-right: 2px solid #000;
}

.progresso {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: Pixel;
  font-size: 70px;
  z-index: 100;
}

/*
@font-face {
  font-family: fa;
  src: url(../fonts/Pixel.ttf);
}

div[wm-flappy] {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.menu {
  width: 60%;
  height: 700px;
  background-color: deepskyblue;
  border: 5px solid dodgerblue;
  z-index: 2;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
}

.bird {
  width: fit-content;
  height: fit-content;
  max-width: 3%;
  position: absolute;
  animation: 0s ease-in infinite;
}

.cano {
  width: 75%;
  background: linear-gradient(90deg, #639301, #a5e82e);
  display: flex;
  height: 100%;
  position: relative;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.cano-complemento {
  width: 100%;
  background: linear-gradient(90deg, #639301, #a5e82e);
  border: 2px solid black;
  min-width: 100px;
  min-height: 40px;
  height: 8%;
  box-sizing: border-box;
  z-index: 2;
  padding-inline: 3rem;
}

.cano-completo {
  display: flex;
  position: relative;
  width: fit-content;
  z-index: 1;
  flex-direction: column-reverse;
  align-items: center;
  max-height: 700px;
}

.conjunto-canos {
  display: flex;
  gap: 30%;
  flex-direction: column;
  position: relative;
}

.contador {
  position: absolute;
  right: 0px;
  font-family: "Pixel";
  font-size: 40px;
}
*/
